.places {
  position: relative;
  &__all {
    width: 100%;
    max-height: 150px;
    background-color: white;
    overflow-y: scroll;
    border: 2px solid #1976d2;
    border-top: none;
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 17px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: orange;
      border: 5px solid white;
      border-radius: 10rem;
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
    &::-webkit-scrollbar-track {
      position: absolute;
      right: -13rem;
      top: -50rem;
      background: transparent;
    }
    &__city {
      padding: 10px 10px 0px 10px;
      &:hover {
        background-color: #1976d2;
        color: white;
        cursor: pointer;
      }
      &__line {
        border-bottom: 0.5px solid #1976d2;
        width: 99%;
        margin: 0 auto;
        padding-bottom: 10px;
      }
      &__padding {
        padding-bottom: 10px;
      }
    }
  }
}
