.myMeeting {
  width: 100%;
  background-color: aqua;
  padding: 20px;
  border-radius: 20px;
  &__h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  &__container {
    &__p {
      margin-bottom: 15px;
      margin-top: 15px;
    }
    &__content {
      display: flex;
      justify-content: space-between;
      &__btn {
        cursor: pointer;
        background-color: white;
        text-align: center;
        background-color: white;
        padding: 10px 20px;
        border: 1px solid orange;
        box-shadow: 5px 5px orange;
        border-radius: 20px;
        margin: auto;
      }
    }
  }
}

.notcomfirm {
  width: 100%;
  display: flex;
  justify-content: space-around;
  &__text {
    width: 50%;
    &__h3 {
      text-align: center;
      margin-bottom: 50px;
    }
    &__div {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      &__btn {
        cursor: pointer;
        text-align: center;
        background-color: white;
        padding: 10px 20px;
        border: 1px solid orange;
        box-shadow: 5px 5px orange;
        border-radius: 20px;
        margin: auto;
      }
    }
  }
  &__reminder {
    width: 40%;
    background-color: orange;
    padding: 20px;
    color: white;
    border-radius: 10px;
  }
}

.booking {
  width: 35%;
  &__h3 {
    text-align: center;
    margin-bottom: 50px;
  }
  &__container {
    &__offre {
      background-color: aqua;
      padding: 10px;
      border-radius: 10px;
      &__content {
        &__h4 {
          text-align: center;
          margin-bottom: 20px;
        }
        &__p {
          text-align: justify;
          margin-bottom: 20px;
        }
        &__div {
          margin-bottom: 20px;
          text-align: center;
          &__btn {
            cursor: pointer;
            text-align: center;
            background-color: white;
            padding: 10px 20px;
            border: 1px solid orange;
            box-shadow: 5px 5px orange;
            border-radius: 20px;
            margin: auto;
          }
        }
      }
    }
    &__info {
      &__p {
        margin-bottom: 15px;
        margin-top: 15px;
      }
      &__div {
        display: flex;
        &__p {
          margin-left: 5px;
        }
      }
      &__content {
        text-align: center;
        &__btn {
          cursor: pointer;
          text-align: center;
          background-color: white;
          padding: 10px 20px;
          border: 1px solid orange;
          box-shadow: 5px 5px orange;
          border-radius: 20px;
          margin: auto;
        }
      }
    }

    &__div {
      display: flex;
      margin-bottom: 5px;
      &__p {
        margin-left: 5px;
      }
    }
    &__div {
      text-align: center;
      &__btn {
        text-align: center;
        background-color: white;
        padding: 10px 20px;
        border: 1px solid orange;
        box-shadow: 5px 5px orange;
        border-radius: 20px;
        margin: auto;
      }
    }
  }
  &__p {
    text-align: center;
    margin-bottom: 20px;
  }
  &__div {
    text-align: center;
    &__btn {
      background-color: white;
      border-radius: 10px;
      padding: 10px;
      cursor: pointer;
      margin-top: 20px;
      border: 2px solid red;
      transition: all 400ms;
      &:hover {
        transform: scale(1.05);
        background-color: red;
        color: white;
      }
    }
  }
}
