.container {
  padding-bottom: 50px;
  width: 80%;
  margin: 0px auto;

  &__help {
    margin-top: 15px;
    font-style: italic;
    text-decoration: underline;
    display: inline-block;
    cursor: pointer;

    &:hover {
      color: aqua;
    }
  }
}

.formule {
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  position: relative;
  z-index: 999;

  &__card {
    position: relative;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    padding: 0px 30px;
    box-shadow: inset 0px 1px 15px aqua, 0px 2px 10px orange;
    min-height: 400px;
    width: 30%;
    overflow: visible;
    transition: all 0.4s;

    &__unique {
      background: rgb(182, 0, 0);
    }

    &__flash {
      background: rgb(128, 50, 170);
    }

    &__custom {
      background: rgb(0, 104, 0);
    }

    &__title {
      margin: 20px 0px;
    }

    &:hover {
      background-color: white;
      color: black;
      transform: scale(1.005);
    }

    &:hover .formule__card__content__li__icone {
     filter: invert(1);
    }

    &__price {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      font-weight: 900;
      font-size: clamp(20px, 26px, 2vw);
      width: 100%;
      text-align: center;
    }

    &__content {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: calc(100% - 200px);

      &__li {
        display: flex;
        align-items: center;

        &__icone {
          margin-right: 10px;
          transition: all 0.3s;
        }
      }
    }
  }
}


@keyframes load {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(680deg);
  }
}

@media screen and (max-width: 1080px) {
  .formule {
    flex-direction: column;
    row-gap: 20px;
    &__card {
      width: 100%;
      min-height: 225px;
      &__custom {
        min-height: 275px;
      }
    }
  }

  .container {
    margin-top: 150px;
  }
}

@media screen and (max-width: 768px) {
  .formule {
    &__card {
      &__custom {
        min-height: 275px;
      }
    }
  }

  .container {
    width: unset;
    margin: 150px 5% 0px 5%;
  }
}

@media screen and (max-width: 425px) {
  .formule {
    &__card {
      &__custom {
        min-height: 300px;
      }
    }
  }
}