/* .item-enter {
    opacity: 0;
    transform: scale(0.5);


}
.item-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 500ms ease-in;
}
.item-leave {
    opacity: 1;
    transform: scale(1);
}
.item-leave-active {
    opacity: 0;
    transform: scale(0.5);
    transition: all 500ms ease-in;
}
 */