$primary-color: white;

.profile {
  &__h1 {
    margin-top: 80px;
    font-size: 60px;
  }
  &__h2 {
    color: white;
    margin-top: 20px;
  }
  &__back {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__btn {
      border-radius: 20px;
      padding: 10px 20px;
      color: white;
      border: 2px solid orange;
      transition: all 0.3s;
      &:hover {
        background-color: orange;
      }
      &__margin {
        margin-top: 20px
      }
    }
  }
  &__container {
    background-color: rgb(0, 191, 255);
    margin-top: 45px;
    padding-top: 30px;
    padding-bottom: 100px;
  }
  &__article {
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    &__h2 {
      text-align: center;
      color: $primary-color;
      margin-top: 100px;
      margin-bottom: 60px;
      font-size: 30px;
    }
    &__div {
      display: flex;
      justify-content: space-between;
      &__div {
        width: 45%;
      }
    }
  }
}
