.datePicker {
  background: white;
  padding: 20px;
  border-radius: 20px;
  &__head {
    margin: auto;
    display: flex;
    justify-content: space-around;
    background: aqua;
    padding: 10px 0px;
    border-radius: 10px;
    &__nav {
      display: flex;
      justify-content: space-around;
    }
    &__div {
      display: flex;
      &__div {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-right: 10px;
        &__i {
          margin-left: 5px;
          width: 0px;
          height: 0px;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 5px solid black;
        }
        &__p {
          position: relative;
          z-index: 990;
        }
        &:hover > &__p {
          border-bottom: 1px solid orange;
        }
        &:hover > &__i {
          border-top: 5px solid orange;
        }
        &__div {
          position: relative;
          z-index: 999;
          background-color: white;
          width: 100px;
          border: 1px solid black;
          border-radius: 5px;
          max-height: 400px;
          overflow: scroll;
          display: block;
          &__div {
            padding: 5px;
            &__current {
              padding: 5px;
              color: white;
              background-color: blue;
              &:hover {
                background-color: orange;
              }
            }
            &:hover {
              background-color: orange;
            }
          }
        }
      }
    }
    &__previous {
      cursor: pointer;
      width: 0px;
      height: 0px;
      align-self: center;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 15px solid black;
      transition: all 400ms;
      &:hover {
        border-right: 15px solid orange;
        transform: scale(1.1);
      }
    }
    &__home {
      width: 20px;
      height: 20px;
      background-image: url("/assets/icone/house-solid.svg");
      transition: all 400ms;
      cursor: pointer;
      &:hover {
        background-image: url("/assets/icone/house-solid-hover.svg");
        transform: scale(1.15);
      }
    }
    &__next {
      cursor: pointer;
      width: 0px;
      height: 0px;
      align-self: center;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 15px solid black;
      transition: all 400ms;
      &:hover {
        border-left: 15px solid orange;
        transform: scale(1.1);
      }
    }
  }
  &__table {
    table-layout: fixed;
    clear: both;
    width: 100%;
    border-collapse: separate;
    border-radius: 5px;
    border-spacing: 0;
    &__thead {
      &__tr {
        &__th {
          &__day {
            display: flex;
            flex-direction: column;
            background-color: orange;
            color: white;
            border-radius: 5px;
            margin: 20px auto;
            padding: 10px 0px;
            & > span {
              text-align: center;
            }
          }
        }
      }
    }
    &__tbody {
      &__tr {
        &__td {
          height: 30px;
          &__div {
            cursor: pointer;
            display: flex;
            margin: auto;
            justify-content: center;
            height: 80%;
            border-radius: 5px;
            background-color: aqua;
            transition: all 400ms;
            &:hover {
              background-color: orange;
              color: white;
            }
            &__p {
              text-align: center;
              align-self: center;
            }
          }
          &__hour {
            text-align: center;
            border-top: 1px solid black;
            border-right: 1px solid black;
            width: 20%;
            padding: 3px 0px;
            background-color: #f0f0f0;
          }
          &__meeting {
            &__me {
              display: flex;
              margin: auto;
              justify-content: center;
              height: 80%;
              border-radius: 5px;
              background-color: red;
              color: white;
            }
            &__other {
              cursor: pointer;
              display: flex;
              margin: auto;
              justify-content: center;
              height: 80%;
              border-radius: 5px;
              background-color: green;
              color: white;
              transition: all 400ms;
              &:hover {
                background-color: orange;
              }
              &__p {
                text-align: center;
                align-self: center;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .datePicker {
    margin-top: 50px;
  }
}
