.allMeeting {
  &__h1 {
    padding-top: 160px;
    font-size: 48px;
  }
  &__container {
    padding-top: 30px;
    padding-bottom: 100px;
  }
  &__article {
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    background-color: white;
    border-radius: 20px;
    &__h2 {
      text-align: center;
      margin-top: 60px;
      margin-bottom: 30px;
      font-size: 30px;
    }
    &__ul {
      padding: 21px 0px 21px 40px;
    }
  }
}

@media screen and (max-width: 768px) {
  .allMeeting {
    &__h1 {
      font-size: 36px;
    }
  }
}
