.about {
  &__bg {
    position: relative;
    z-index: 2;
    margin-top: 80px;
    &__img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }
  &__certificate {
    padding: 0 0 50px 0;
    &__h2 {
      text-align: center;
      color: black;
      padding-top: 80px;
      border-bottom: 1px solid orange;
      width: 323px;
      font-size: 48px;
      margin: 0px auto 30px auto;
    }
    &__container {
      margin-left: 10%;
      margin-right: 10%;
      text-align: justify;
      overflow: hidden;
    }
  }
  &__parcour {
    margin: 0px 10% 50px 10%;
    &__h1 {
      text-align: center;
      color: black;
      padding-top: 80px;
      border-bottom: 1px solid orange;
      width: 353px;
      font-size: 48px;
      margin: 0px auto 30px auto;
    }
    &__container {
      margin-top: 45px;
      padding-top: 60px;
      padding-bottom: 100px;
      &__img {
        object-fit: cover;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        shape-outside: circle();
        float: left;
        margin-right: 60px;
        border: 5px solid #1dd6fc;
      }
      &__h2 {
        color: black;
        border-bottom: 1px solid orange;
        width: 345px;
        font-size: 32px;
        margin: 0px 0px 30px 290px;
      }
      &__p {
        font-size: 18px;
        line-height: 1.4;
      }
    }
  }
  &__vision {
    padding: 0px 0 50px 0;
    background-color: rgba(0, 0, 0, 0.03);
    &__container {
      margin: 0 10% 0 10%;
      &__h2 {
        text-align: center;
        color: black;
        padding-top: 80px;
        font-size: 48px;
        border-bottom: 1px solid orange;
        width: 400px;
        font-size: 48px;
        margin: 0px auto 30px auto;
      }
      &__content {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        &__p {
          font-size: 18px;
          line-height: 1.4;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .about {
    &__bg {
      &__img {
        height: 300px;
      }
    }
    &__vision {
      &__container {
        margin: 0 5% 0 5%;
        &__h2 {
          font-size: 36px;
          width: 330px;
        }
        &__content {
          &__p {
            font-size: 16px;
          }
        }
      }
    }
    &__certificate {
      &__h2 {
        font-size: 36px;
        width: 240px;
      }
      &__container {
        margin: 0 5% 0 5%;
      }
    }
    &__parcour {
      margin: 0px 5% 50px 5%;
      &__h1 {
        font-size: 36px;
        width: 300px;
      }
      &__container {
        padding-top: 0;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        &__h2 {
          font-size: 24px;
          width: 270px;
          margin: 0px auto 30px auto;
        }
        &__img {
          margin: auto;
          float: unset;
          margin-bottom: 30px;
        }
        &__p {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .about {
    &__bg {
      margin-top: 74px;
      &__img {
        height: 200px;
      }
    }
    &__vision {
      &__container {
        margin: 0 5% 0 5%;
        &__h2 {
          width: 80%;
        }
      }
    }
    &__certificate {
      &__h2 {
        width: 80%;
      }
    }
    &__parcour {
      margin: 0px 5% 50px 5%;
      &__h1 {
        width: 100%;
      }
      &__container {
        &__h2 {
          width: 100%;
        }
        &__img {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}
