.bg {
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.9);
  position: fixed;
  z-index: 992;
  top: 0;
}

.contratModal {
  background-color: white;
  box-shadow: 0px 0px 8px 8px aqua;
  border-radius: 20px;
  padding: 50px 30px;
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 90%;
  overflow: scroll;
  z-index: 999;
  &__h1 {
    color: black;
    margin: 40px 0px;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  &__btn {
    cursor: pointer;
    float: right;
    position: absolute;
    right: 28px;
    top: 25px;
    border: none;
    background-color: orange;
    border-radius: 5px;
    transition: all 400ms;
    padding: 5px;
    &:hover {
      transform: scale(1.05);
    }
    &:hover > &__img {
      transform: rotate(90deg);
    }
    &__img {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 400ms;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    &__btnEdit {
      padding: 10px;
      border: none;
      outline: 1px solid orange;
      border-radius: 10px;
      background-color: white;
      cursor: pointer;
      transition: all 400ms;
      width: 175px;
      text-align: center;
      margin: 20px auto;
      &:hover {
        background-color: orange;
        color: white;
        transform: scale(1.05);
      }
    }
    &__contract {
      padding: 10px;
      border: none;
      width: 175px;
      text-align: center;
      margin: 20px auto;
      outline: 1px solid orange;
      border-radius: 10px;
      transition: all 400ms;
      &__hover {
        background-color: orange;
      }
    }
    &__canvas {
      border: 1px solid black;
      width: 300px;
      height: 100px;
      margin: 20px auto;
      border-radius: 10px;
      &__btnClearSignature {
        padding: 10px;
        border: none;
        outline: 1px solid orange;
        border-radius: 10px;
        background-color: white;
        cursor: pointer;
        transition: all 400ms;
        width: 175px;
        text-align: center;
        margin: 20px auto;
        &:hover {
          background-color: orange;
          color: white;
          transform: scale(1.05);
        }
      }
    }
    &__cities {
      position: relative;
      &__all {
        width: 100%;
        max-height: 150px;
        background-color: white;
        top: 48px;
        overflow-y: scroll;
        border: 2px solid #1976d2;
        border-top: none;
        position: absolute;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        &::-webkit-scrollbar {
          -webkit-appearance: none;
          width: 17px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: orange;
          border: 5px solid white;
          border-radius: 10rem;
          -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
        }
        &::-webkit-scrollbar-track {
          position: absolute;
          right: -13rem;
          top: -50rem;
          background: transparent;
        }
        &__city {
          padding: 10px;
          &:hover {
            background-color: #1976d2;
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .contratModal {
    width: 80%;
    padding: 40px 20px;
    &__btn {
      right: 20px;
      top: 22px;
    }
  }
}

@media screen and (max-width: 425px) {
  .contratModal {
    width: 95%;
    padding: 40px 10px;
    &__btn {
      right: 14px;
      top: 18px;
    }
  }
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(680deg);
  }
}
