.notcomfirm {
  width: 100%;
  display: flex;
  justify-content: space-around;
  &__text {
    width: 50%;
    &__h3 {
      text-align: center;
      margin-bottom: 50px;
    }
    &__div {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      &__btn {
        cursor: pointer;
        text-align: center;
        background-color: white;
        padding: 10px 20px;
        border: 1px solid orange;
        box-shadow: 5px 5px orange;
        border-radius: 20px;
        margin: auto;
      }
    }
  }
  &__reminder {
    width: 40%;
    background-color: orange;
    padding: 20px;
    box-shadow: 0px 0px 15px 3px aqua;
    color: white;
    border-radius: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .notcomfirm {
    flex-direction: column;
    &__text {
      width: 100%;
    }
    &__reminder {
      margin-top: 40px;
      width: 100%;
    }
  }
}
