.tarif {
  &__bg {
    position: relative;
    z-index: 2;
    margin-top: 80px;
    &__img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }
  &__packs {
    &__head {
      padding-top: 80px;
      margin: 0px 10% 0px 10%;
      display: flex;
      justify-content: space-between;

      &__left {
        &__h1 {
          color: black;
          border-bottom: 1px solid orange;
          width: 200px;
          font-size: 48px;
          margin: 0px 0px 30px 0px;
        }
        &__p {
          width: 70%;
          line-height: 22px;
          font-size: 18px;
        }
        &__offer {
          width: 70%;
          line-height: 22px;
          text-align: center;
          font-size: 18px;
          background-color: orange;
          padding: 10px;
          margin-top: 20px;
          border-radius: 10px;
          animation: updown 2s infinite;
        }
      }
      &__right {
        &__img {
          position: relative;
          z-index: 3;
          object-fit: cover;
          width: 250px;
          height: 150px;
          border-radius: 50%;
          shape-outside: circle();
          margin-right: 60px;
          border: 5px solid aqua;
        }
        &__p {
          position: relative;
          top: -75px;
          line-height: 22px;
          font-size: 18px;
          text-align: center;
          padding: 75px 10px 10px 10px;
          z-index: 1;
          width: 250px;
          background-color: aqua;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
    &__container {
      margin: 0px 10%;
      padding-bottom: 50px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 40px;
      &__card {
        padding: 20px 30px;
        border-radius: 30px;
        box-shadow: inset 0px 0px 10px 5px black;
        height: 100%;
        &__h3 {
          line-height: 36px;
          text-align: center;
          font-size: 48px;
          width: fit-content;
          padding: 10px 20px;
          border-radius: 10px;
          margin: 0px auto 30px auto;
        }
        &__ul {
          list-style-type: none;
          line-height: 22px;

          &__li {
            position: relative;
            font-size: 18px;
            padding-left: 20px;
            margin-bottom: 5px;
            &__icone {
              position: absolute;
              left: -15px;
              top: -5px;
            }
          }
        }
        &__div {
          text-align: center;
          margin: 30px 0px;
        }
        &__price {
          text-align: center;
          font-size: 36px;
          margin: 80px auto 40px auto;
          font-weight: 800;
          &__sign {
            position: relative;
            top: -10px;
            left: 5px;
            font-size: 20px;
          }
        }
        &__unique {
          background-color: rgba(255, 0, 0, 0.339);
          border: 3px solid rgba(255, 0, 0, 0.339);
          margin-bottom: 30px;
        }
        &__flash {
          background-color: rgba(255, 166, 0, 0.556);
          border: 3px solid rgba(255, 166, 0, 0.556);
        }
        &__long {
          background-color: rgba(0, 128, 0, 0.278);
          border: 3px solid rgba(0, 128, 0, 0.278);
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .tarif {
    &__packs {
      &__container {
        grid-template-columns: 1fr;
        &__card {
          &__price {
            margin: 40px auto 0px auto;
          }
          &__unique {
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .tarif {
    &__packs {
      &__head {
        display: block;
        &__left {
          &__h1 {
            margin: 0px auto 30px auto;
            width: 150px;
          }
          &__p {
            width: 100%;
          }
          &__offer {
            width: 100%;
          }
        }
        &__right {
          margin-top: 30px;
          text-align: center;
          &__img {
            margin-right: 0px;
          }
          &__p {
            margin: auto;
          }
        }
      }
      &__container {
        &__card {
          &__h3 {
            padding: 10px 0px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .tarif {
    &__packs {
      &__head {
        margin: 0px 5% 0px 5%;
        &__left {
          &__h1 {
            font-size: 36px;
          }
          &__p {
            font-size: 16px;
          }
          &__offer {
            font-size: 16px;
          }
        }
        &__right {
          &__p {
            font-size: 16px;
          }
        }
      }
      &__container {
        margin: 0px 5%;
        &__card {
          &__h3 {
            font-size: 36px;
            padding: 10px 0px;
          }
          &__ul {
            padding-left: 10px;
            &__li {
              font-size: 16px;
              position: relative;
              &__icone {
                position: absolute;
                left: -25px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .tarif {
    &__bg {
      margin-top: 74px;
    }
  }
}

@keyframes updown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
