.tarif {
  &__bg {
    position: relative;
    z-index: 2;
    margin-top: 80px;
    &__img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }
  &__packs {
    &__head {
      padding-top: 80px;
      margin: 0px 10% 0px 10%;
      display: flex;
      justify-content: space-between;

      &__left {
        &__h1 {
          text-align: center;
          color: black;
          border-bottom: 1px solid orange;
          width: 200px;
          font-size: 48px;
          margin: 0px 0px 30px 0px;
        }
        &__p {
          width: 70%;
          line-height: 22px;
          font-size: 18px;
        }
      }
      &__right {
        &__img {
          position: relative;
          z-index: 3;
          object-fit: cover;
          width: 250px;
          height: 150px;
          border-radius: 50%;
          shape-outside: circle();
          margin-right: 60px;
          border: 5px solid aqua;
        }
        &__p {
          position: relative;
          top: -75px;
          text-align: center;
          padding: 75px 10px 10px 10px;
          z-index: 1;
          width: 250px;
          background-color: aqua;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
    &__container {
      margin: 0px 10%;
      padding-bottom: 50px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
      &__card {
        padding: 20px 30px;
        border-radius: 30px;
        box-shadow: inset 0px 0px 10px 5px black;
        &__h3 {
          text-align: center;
          font-size: 26px;
          width: fit-content;
          color: white;
          padding: 10px 20px;
          border-radius: 10px;
          margin: 0px auto 30px auto;
        }
        &__ul {
          list-style-type: none;
          line-height: 22px;

          &__li {
            display: flex;
            color: white;
            font-size: 18px;
            margin-bottom: 5px;
            &__icone {
              margin-right: 10px;
            }
          }
        }
        &__div {
          text-align: center;
          margin: 30px 0px;
        }
        &__price {
          text-align: center;
          font-size: 36px;
          margin: 20px auto 0px auto;
          color: white;
          font-weight: 800;
          &__sign {
            position: relative;
            top: -10px;
            left: 5px;
            font-size: 20px;
          }
        }
        &__unique {
          background-color: aqua;
          border: 3px solid aqua;
        }
        &__flash {
          background-color: rgba(255, 166, 0, 0.307);
          border: 3px solid rgba(255, 166, 0, 0.307);
        }
        &__long {
          background-color: rgba(0, 128, 0, 0.278);
          border: 3px solid rgba(0, 128, 0, 0.278);
        }
        &__full {
          background-color: rgba(255, 0, 0, 0.339);
          border: 3px solid rgba(255, 0, 0, 0.339);
        }
      }
    }
  }
  &__delivery {
    padding: 80px 0 50px 0;
    &__container {
      margin: 0 10% 0 10%;
      display: flex;
      justify-content: space-between;
      &__card {
        width: 40%;
        position: relative;
        height: 260px;
        border: 1px solid aqua;
        box-shadow: 5px 5px 5px aqua;
        padding: 20px;
        border-radius: 10px;
        &__h3 {
          margin-bottom: 30px;
        }
        &__img {
          float: right;
          position: relative;
          top: -50px;
        }
        &__p {
          text-align: justify;
        }
        &__btn {
          margin: auto;
          display: block;
          width: 57%;
          text-align: center;
          margin-top: 30px;
          border: 1px solid orange;
          padding: 10px;
          background-color: orange;
          border-radius: 20px;
          transition: all 300ms ease-in;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .tarif {
    &__delivery {
      padding: 80px 0 0px 0;
      &__container {
        margin: 0 5% 0 5%;
        display: block;
        &__card {
          width: 100%;
          position: relative;
          height: 260px;
          border: 1px solid aqua;
          box-shadow: 5px 5px 5px aqua;
          margin-bottom: 50px;
          padding: 20px;
          border-radius: 10px;
          &__h3 {
            margin-bottom: 30px;
          }
          &__img {
            float: right;
            position: relative;
            top: -50px;
          }
          &__p {
            text-align: justify;
          }
          &__btn {
            margin: auto;
            display: block;
            width: 57%;
            text-align: center;
            margin-top: 30px;
            border: 1px solid orange;
            padding: 10px;
            background-color: orange;
            border-radius: 20px;
            transition: all 300ms ease-in;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
    &__packs {
      &__container {
        grid-template-columns: 1fr;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .tarif {
    &__h1 {
      margin-top: 40px;
      font-size: 40px;
    }
    &__article {
      margin-left: 5%;
      margin-right: 5%;
      text-align: justify;
      &__h2 {
        font-size: 26px;
        margin-top: 40px;
      }
      &__ul {
        padding: 11px 0px 11px 20px;
      }
      &__flex {
        display: block;
        &__div {
          margin-bottom: 20px;
          width: unset;
          &__p {
            padding: 10px;
          }
        }
      }
    }
  }
}
