.user {
  &__h1 {
    padding-top: 160px;
  }
  &__container {
    padding-bottom: 100px;
    display: flex;
  }
  &__article {
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    display: flex;
    justify-content: center;
  }
}
