.bg {
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.9);
  position: fixed;
  z-index: 700;
  top: 0;
}

.modalEditDiscovery {
  background-color: white;
  box-shadow: 0px 0px 8px 8px aqua;
  border-radius: 20px;
  padding: 50px 30px;
  width: 70%;
  position: fixed;
  left: 50%;
  top: 50%;
  max-height: 90%;
  overflow: scroll;
  z-index: 998;
  &__h1 {
    color: black;
    margin: 40px 0px;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  &__previous {
    background-color: red;
  }
  &__new {
    margin-top: 30px;
    background-color: green;
  }
  &__rdv {
    border-radius: 5px;
    color: white;
    padding: 10px;
    text-align: center;
    &__title {
      font-weight: 900;
      font-size: clamp(20px, 26px, 3vw);
    }
    &__p {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      &__img {
        margin-right: 10px;
        filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(91deg) brightness(102%) contrast(101%);
      }
    }
  }

  &__choose {
    margin-top: 30px;
  }
  &__form {
    margin-top: 30px;
    &__submit {
      text-align: center;
      margin: 50px auto 20px auto;
      &__btn {
        cursor: pointer;
        border-radius: 10px;
        border: 2px solid orange;
        background-color: white;
        padding: 10px;
        color: black;
        transition: all 400ms;
        &:hover {
          background-color: orange;
          transform: scale(1.05);
          color: white;
        }
        &__load {
          border-radius: 10px;
          border: 2px solid orange;
          background-color: white;
          padding: 0px 10px;
          display: flex;
          margin: auto;
          color: black;
          &__span {
            align-self: center;
          }
          &__arc {
            position: relative;
            bottom: 9px;
            margin: 18px 10px 0px 10px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border-top: 1px solid black;
            border-bottom: 1px solid transparent;
            border-left: 1px solid black;
            border-right: 1px solid transparent;
            animation: load 2000ms both infinite ease-out;
            &__circle {
              position: relative;
              right: -13px;
              width: 5px;
              height: 5px;
              background-color: black;
              border-radius: 50%;
            }
          }
        }
      }
    }
    &__div {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      &:not(:focus-within) .modal__form__div__label__value {
        transform: translateY(-13px) scale(0.75);
        transform-origin: top left;
        color: black;
      }
      &__label {
        color: black;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        position: absolute;
        z-index: 0;
        transform: translateY(6px) scale(1);
        transition: all 0.3s;
        &__value {
          color: #1976d2;
          font-family: "Roboto", "Helvetica", "Arial", sans-serif;
          position: absolute;
          z-index: 0;
          transform: translateY(-13px) scale(0.75);
          transform-origin: top left;
          transition: all 0.3s;
        }
      }
      &__div {
        width: 100%;
        position: relative;
        &__select {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border-radius: 0px;
          font: inherit;
          position: relative;
          z-index: 2;
          background-color: transparent;
          cursor: pointer;
          padding: 4px 0 5px;
          font-family: "Roboto", "Helvetica", "Arial", sans-serif;
          width: 100%;
          border: none;
          outline: none;
          box-sizing: content-box;
          height: 1.4375em;
          border-bottom: 2px solid rgba(0, 0, 0, 0.42);
          &:hover {
            border-bottom: 2px solid black;
          }
          &:focus-visible {
            border-color: #007bff; /* Change la couleur de la bordure */
          }
        }
        &__img {
          position: absolute;
          z-index: 3;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          /* transition: all 4000ms; */
        }
      }
      &__error {
        color: red;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 0.75rem;
        line-height: 1.66;
        letter-spacing: 0.03333em;
        margin-top: 3px;
        margin-bottom: -3px;
      }
      &__btn {
        text-align: center;
      }
    }
  }
  &__return {
    cursor: pointer;
    position: absolute;
    top: 25px;
    border: none;
    background-color: orange;
    border-radius: 5px;
    transition: all 400ms;
    color: white;
    padding: 12px 15px;
  }
  &__btn {
    cursor: pointer;
    float: right;
    position: absolute;
    right: 28px;
    top: 25px;
    border: none;
    background-color: orange;
    border-radius: 5px;
    transition: all 400ms;
    padding: 5px;
    &:hover {
      transform: scale(1.05);
    }
    &:hover > &__img {
      transform: rotate(90deg);
    }
    &__img {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 400ms;
    }
  }
}

@media screen and (max-width: 768px) {
  .modalEditDiscovery {
    width: 80%;
    padding: 40px 20px;
    &__btn {
      right: 20px;
      top: 22px;
    }
    &__rappel {
      display: block;
    }
  }
}

@media screen and (max-width: 425px) {
  .modalEditDiscovery {
    width: 95%;
    padding: 40px 10px;
    &__btn {
      right: 14px;
      top: 18px;
    }
  }
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(680deg);
  }
}
