$primary-color: black;

.contact {
  &__bg {
    &__img {
      width: 100%;
      object-fit: cover;
    }
  }
  &__main {
    margin: 0px 10%;
    &__h1 {
      font-size: 48px;
      margin: 40px 0px;
    }
    &__p {
      margin-bottom: 30px;
    }
    &__container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
      &__form {
        margin-top: -20px;
        display: flex;
        flex-direction: column;
        &__submit {
          margin-top: 30px;
          cursor: pointer;
          border: 1px solid orange;
          padding: 10px;
          background-color: orange;
          border-radius: 10px;
          color: black;
          transition: all 400ms;
          position: relative;
          z-index: 1;
          font-size: 21px;
          height: unset;
          & :hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
