.image {
    &__scrollImg {
        transform: translateX(0px);
        transition: all 1s ease-in ;
    }
    &__scrollImgInv {
        transform: translateX(-800px);
        transition: all 1s ease-in ;
    }
    &__scrollImgInvRight {
        transform: translateX(500px);
        transition: all 1s ease-in ;
    }
}