.menu {
  height: 100vh;
  background-color: rgb(41, 41, 41);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
  color: white;
  width: 100%;
  .body {
    box-sizing: border-box;
    overflow: scroll;
    height: calc(100% - 170px);
    padding: 20px 100px 20px 60px;

    .nav {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: 28px;
      gap: 12px;
      height: 100%;
      min-height: 300px;
      max-height: 500px;

      .header {
        color: rgb(153, 153, 153);
        border-bottom: 1px solid rgb(153, 153, 153);
        text-transform: uppercase;
        margin-bottom: 40px;
      }

      a {
        text-decoration: none;
        color: white;
        font-weight: 300;
      }
    }
  }
}
.logo {
  background-color: rgb(41, 41, 41);
  &__link {
    position: relative;
    margin-top: 8px;
    width: 73px;
    left: 50%;
    transform: translateX(-50%);
    height: 73px;
    &__img {
      cursor: pointer;
      width: 73px;
      height: 73px;
    }
  }
}
.line {
  position: relative;
  width: 98%;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(153, 153, 153);
  &__bottom {
    position: relative;
    width: 98%;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(153, 153, 153);
    margin-bottom: 20px;
  }
}

.back {
  background-color: aqua;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: auto;
  transition: all 400ms;
  &:hover {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 768px) {
  .menu {
    .body {
      padding: 20px 50px 20px 40px;
      .nav {
        font-size: 24px;
      }
    }
  }
  .logo {
    &__img {
      margin-top: 8px;
      width: 65px;
      height: 65px;
    }
  }
}

@media screen and (max-width: 425px) {
  .menu {
    .body {
      padding: 20px 50px 20px 40px;
    }
  }
  .logo {
    &__img {
      margin-top: 8px;
      width: 55px;
      height: 55px;
    }
  }
}
