.reset {
  &__h1 {
    margin-top: 80px;
    font-size: 60px;
  }
  &__container {
    background-color: rgb(0, 191, 255);
    margin-top: 45px;
    padding-top: 60px;
    padding-bottom: 100px;
  }
  &__article {
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
    background-color: white;
    padding: 20px;
    border: 1px solid orange;
    box-shadow: 10px 10px orange;
    border-radius: 20px;
    &__h2 {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 20px;
      font-size: 30px;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    margin: 40px 0px;
    &__div {
      display: flex;
      flex-direction: column;
    }
    &__input {
      height: 22px;
      font-size: 15px;
      border-radius: 5px;
      border: none;
      &__error {
        color: orange;
        padding-top: 5px;
        font-size: 21px;
      }
    }
    &__submit {
      text-align: center;
      &__btn {
        margin-top: 30px;
        cursor: pointer;
        border: 2px solid orange;
        padding: 10px;
        background-color: white;
        border-radius: 10px;
        transition: all 400ms;
        position: relative;
        z-index: 1;
        height: unset;
        transition: all 400ms;
        &:hover {
          transform: scale(1.1);
          background-color: orange;
          color: white;
        }
      }
    }
  }
}
