.meet {
  position: relative;
  z-index: 690;
  min-height: calc(100vh - 435px);
  margin-top: 84px;
  /* height: calc(100vh - 84px); */
  &__h1 {
    padding-top: 80px;
    font-size: 48px;
    padding-bottom: 30px;
  }
  &__section {
    margin: 0px 10%;
    &__btn {
      cursor: pointer;
      transition: all 300ms;
      border-bottom: 2px solid transparent;
      padding-bottom: 5px;
      &__active {
        border-bottom: 2px solid black;
        padding-bottom: 5px;
      }
      &:hover {
        color: red;
        border-bottom: 2px solid red;
      }
      &__past {
        margin-left: 10px;
      }
    }
  }
  &__container {
    margin: 0px 10% 0px 10%;
    padding-bottom: 100px;
    /*&__h2 {
      margin: 30px 0px 20px 0px;
    }
    &__how {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;
      margin-bottom: 50px;
      &__card {
        padding: 10px;
        border-radius: 10px;
        background-color: orange;
        color: white;
      }
      &__discovery {
        width: 45%;
          display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        margin-bottom: 50px; 
        &__card {
          padding: 10px;
          border-radius: 10px;
          background-color: orange;
          color: white;
        }
      }
    }
    &__content {
      display: flex;
      justify-content: space-between;
    }*/
  }
  /*
  &__calendar {
    width: 600px;
    background-color: white;
    border-radius: 10px;
  }
  &__meet {
    background-color: white;
    padding: 20px;
    border: 1px solid orange;
    box-shadow: 10px 10px orange;
    border-radius: 20px;
    width: 60%;
    &__p {
      margin-bottom: 10px;
      &__start {
        text-align: center;
        margin-bottom: 30px;
      }
      &__description {
        margin-bottom: 10px;
      }
    }
    &__div {
      display: flex;
      flex-direction: column;
      text-align: center;
      &__p {
        text-align: justify;
        &__marge {
          margin-top: 10px;
          text-align: justify;
        }
      }
      &__btn {
        background-color: white;
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
        margin-top: 20px;
        border: 2px solid orange;
        transition: all 400ms;
        &:hover {
          transform: scale(1.05);
          background-color: orange;
          color: white;
        }
        &__delete {
          margin-top: 20px;
          background-color: red;
          color: white;
          border-radius: 10px;
          padding: 10px;
          border: none;
        }
      }
    }
  }
  &__div {
    display: flex;
    justify-content: space-around;
    &__div {
      width: 50%;
      &__p {
        margin-bottom: 10px;
      }
      &__btn {
        background-color: white;
        cursor: pointer;
        border-radius: 10px;
        padding: 10px;
        margin-top: 20px;
        border: 2px solid orange;
        transition: all 400ms;
        &:hover {
          transform: scale(1.05);
          background-color: orange;
          color: white;
        }
      }
    }
    &__rappel {
      background-color: orange;
      padding: 20px;
      color: white;
      border-radius: 10px;
    }
  }
  &__comfirm {
    background-color: white;
    border: 2px solid black;
    box-shadow: 5px 5px 5px 5px black;
    border-radius: 20px;
    padding: 50px 30px;
    width: 400px;
    position: fixed;
    top: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    &__div {
      margin-top: 20px;
      text-align: center;
      &__btn {
        background-color: white;
        border-radius: 10px;
        cursor: pointer;
        border: 2px solid orange;
        padding: 10px;
        transition: all 400ms;
        &:hover {
          transform: scale(1.05);
          background-color: orange;
          color: white;
        }
      }
    }
    &__h1 {
      color: black;
      margin: 20px 0px;
      text-align: center;
    }
    &__btn {
      cursor: pointer;
      float: right;
      position: absolute;
      right: 58px;
      top: 22px;
      border: none;
      background-color: orange;
      border-radius: 5px;
      transition: all 400ms;
      padding: 5px;
      &:hover {
        transform: scale(1.05);
      }
      &:hover > &__img {
        transform: rotate(90deg);
      }
      &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 400ms;
      }
    }
  }*/
}

/*
.loadData {
  background-color: white;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px 140px;
  border-radius: 20px;
  border: 1px solid orange;
  box-shadow: 10px 10px orange;
  text-align: center;
  &__div {
    &__arc {
      margin: 20px auto 0px auto;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border-top: 1px solid black;
      border-bottom: 1px solid transparent;
      border-left: 1px solid black;
      border-right: 1px solid transparent;
      animation: load 2000ms both infinite ease-out;
      &__circle {
        position: absolute;
        top: 17px;
        right: 22px;
        width: 10px;
        height: 10px;
        background-color: black;
        border-radius: 50%;
      }
    }
  }
}
.test {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-680deg);
  }
}*/

.datatable {
  margin-bottom: 100px;
  &__container {
    &__div {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
    }
  }
  &__loadData {
    text-align: center;
    &__arc {
      margin: 20px auto 0px auto;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border-top: 1px solid black;
      border-bottom: 1px solid transparent;
      border-left: 1px solid black;
      border-right: 1px solid transparent;
      animation: load 2000ms both infinite ease-out;
      &__circle {
        position: absolute;
        top: 17px;
        right: 22px;
        width: 10px;
        height: 10px;
        background-color: black;
        border-radius: 50%;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .meet {
    &__container {
      margin: 10px 5% 0px 5%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .meet {
    &__container {
      &__content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: unset;
      }
      /* &__how {
        &__discovery {
          width: 100%;
          &__card {
            width: 23%;
          }
        }
      } */
    }
  }
  /* .test {
    flex-direction: column;
  } */
}

@media screen and (max-width: 768px) {
  .meet {
    &__h1 {
      font-size: 36px;
    }
    &__container {
      margin: 0px 5% 0px 5%;
      /* &__how {
        &__discovery {
          &__card {
            width: 100%;
            margin-bottom: 20px;
          }
        }
      } */
    }
  }
}
