.formule {
  display: block;
  &__h3 {
    text-align: center;
    margin-bottom: 50px;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-bottom: 50px;
    &__card {
      background-color: rgba(0, 0, 0, 0.04);
      padding: 10px 20px;
      border-radius: 20px;
      &__h2 {
        position: relative;
        border-radius: 20px;
        padding: 5px 15px;
        left: 50%;
        top: -30px;
        color: white;
        background-color: orange;
        transform: translateX(-50%);
        margin-bottom: 20px;
      }
      &__p {
        margin-bottom: 20px;
      }
    }
  }
  &__link {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    border: 2px solid orange;
    transition: all 400ms;
    &:hover {
      transform: scale(1.05);
      background-color: orange;
      color: white;
    }
  }
  &__form {
    margin-top: 30px;
    &__input {
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
      background-color: white;
      border: 2px solid orange;
      transition: all 400ms;
      &:hover {
        transform: scale(1.05);
        background-color: orange;
        color: white;
      }
      &__load {
        border-radius: 10px;
        border: 2px solid orange;
        background-color: white;
        padding: 0px 10px;
        display: flex;
        color: black;
        &__span {
          align-self: center;
        }
        &__arc {
          position: relative;
          bottom: 9px;
          margin: 18px 10px 0px 10px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border-top: 1px solid black;
          border-bottom: 1px solid transparent;
          border-left: 1px solid black;
          border-right: 1px solid transparent;
          animation: load 2000ms both infinite ease-out;
          &__circle {
            position: relative;
            right: -13px;
            width: 5px;
            height: 5px;
            background-color: black;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(680deg);
  }
}
