.load {
  /* position: relative;*/
  padding-top: 84px;
  height: calc(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &__arc {
      /*  position: absolute; */
      right: 50%;
      top: 25px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border-top: 1px solid black;
      border-bottom: 1px solid transparent;
      border-left: 1px solid black;
      border-right: 1px solid transparent;
      animation: load 2000ms both infinite ease-out;
      &__circle {
        position: relative;
        right: -13px;
        width: 5px;
        height: 5px;
        background-color: black;
        border-radius: 50%;
      }
    }
  }
}
@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(680deg);
  }
}
