/* .container {
  overflow-x: scroll;
} */

.table {
  width: 100%;
  clear: both;
  border-spacing: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  &__head {
    &__tr {
      background: aqua;
      cursor: pointer;
      &__th {
        border-radius: 5px;
        padding: 10px 18px;
        min-width: 200px;
        &:hover {
          background-color: orange;
          color: white;
        }
        &__id {
          width: 1px;
        }
        &__min {
          min-width: 200px;
        }
        &__both {
          background-image: url("/assets/icone/arrows-up-down-solid.svg");
          background-repeat: no-repeat;
          background-position: 95% center;
          background-size: 25% 40%;

          &__little {
            width: 1px;
            background-image: url("/assets/icone/arrows-up-down-solid.svg");
            background-repeat: no-repeat;
            background-position: 95% center;
            background-size: 25% 40%;
          }
        }
        &__asc {
          background-image: url("/assets/icone/arrow-up-solid.svg");
          background-repeat: no-repeat;
          background-position: 95% center;
          background-size: 25% 40%;
          &__little {
            width: 1px;
            background-image: url("/assets/icone/arrow-up-solid.svg");
            background-repeat: no-repeat;
            background-position: 95% center;
            background-size: 25% 40%;
          }
        }
        &__desc {
          background-image: url("/assets/icone/arrow-down-solid.svg");
          background-repeat: no-repeat;
          background-position: 95% center;
          background-size: 25% 40%;
          &__little {
            width: 1px;
            background-image: url("/assets/icone/arrow-down-solid.svg");
            background-repeat: no-repeat;
            background-position: 95% center;
            background-size: 25% 40%;
          }
        }
      }
    }
  }
  &__body {
    &__tr {
      max-height: 35px;
      &:hover * {
        background-color: unset;
      }
      &:hover {
        color: white;
        background-color: orange;
      }
      &__border {
        max-height: 35px;
        &:hover {
          color: white;
          background-color: orange;
        }
      }
      &__td {
        border-radius: 5px;
        cursor: pointer;
        max-height: 35px;
        padding: 8px 10px;
        &__div {
          max-height: 20px;
          white-space: nowrap;
          &__id {
            white-space: nowrap;
            max-height: 20px;
            overflow-y: auto;
            &::-webkit-scrollbar {
              width: 5px;
              height: 5px;
            }

            &::-webkit-scrollbar-thumb {
              border-radius: 5px;
              background-color: rgba(0, 0, 0, 0.5);
            }
            &::-webkit-scrollbar-track {
              box-shadow: inset 0 0 1px grey;
              border-radius: 5px;
            }
          }
        }
        &__border {
          padding: 8px 10px;
          border-top: none;
        }
        &__even {
          background-color: #f9f9f9;
          &__first {
            background-color: aqua;
          }
        }
        &__odd {
          &__first {
            background-color: #fafafa;
            &__center {
              text-align: center;
              padding: 8px 10px;
            }
          }
        }
      }
    }
  }
}

.arc {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  position: relative;
  left: 50%;
  transform: translatex(-50%);
  border-radius: 50%;
  border-top: 1px solid black;
  border-bottom: 1px solid transparent;
  border-left: 1px solid black;
  border-right: 1px solid transparent;
  animation: load 2000ms both infinite ease-out;
  &__circle {
    position: relative;
    right: -9px;
    top: 0px;
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
  }
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(680deg);
  }
}

@media screen and (max-width: 1024px) {
  .container {
    overflow-x: auto;
    &::-webkit-scrollbar {
      width: 10px;
      height: 5px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.5);
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 1px grey;
      border-radius: 2px;
    }
  }
}

@media screen and (max-width: 768px) {
  .table {
    &__head {
    &__tr {
      background: aqua;
      cursor: pointer;
      &__th {
        padding: 5px 7% 5px 10px;
        text-align: left;
                word-spacing: 2px;
      }
    }
  }
  }
  
}
