.card {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  padding: 10px 0px 10px 10px;
  position: relative;
  display: flex;
  cursor: pointer;
  transition: all 400ms;
  background-color: rgba(0, 0, 0, 0.04);
  &:hover {
    background-color: aqua;
  }
  &__icone {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &__info {
    margin-left: 60px;
    &__icone {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

@media screen and (max-width: 425px) {
  .card {
    &__info {
      margin-left: 40px;
      align-self: center;
      &__p {
        display: none;
      }
    }
    &__arc {
      margin: 18px 10px 0px 30px;
      position: relative;
      bottom: 7px;
    }
  }
}
