.datePicker {
  background: white;
  padding: 20px;
  border-radius: 20px;
  width: 60%;
  margin-right: 50px;
  &__head {
    display: flex;
    justify-content: space-between;
    &__nav {
      display: flex;
      justify-content: space-around;
    }
    &__div {
      display: flex;
      &__marginR {
        margin-right: 5px;
      }
      &__marginL {
        margin-left: 5px;
      }
    }
    &__previous {
      width: 0px;
      height: 0px;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-right: 10px solid black;
    }
    &__next {
      width: 0px;
      height: 0px;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 10px solid black;
    }
  }
  &__table {
    table-layout: fixed;
    clear: both;
    width: 100%;
    border-collapse: separate;
    border-radius: 5px;
    border-spacing: 0;
    &__thead {
      &__tr {
        &__th {
          padding: 10px 17px;
          &__div {
            display: flex;
            flex-direction: column;
            & > span {
              text-align: center;
            }
          }
        }
      }
    }
    &__tbody {
      &__tr {
        &__td {
          height: 30px;
          &__previous {
            opacity: 0.3;
          }
          &__div {
            cursor: pointer;
            display: flex;
            margin: auto;
            justify-content: center;
            width: 85%;
            height: 85%;
            border-radius: 5px;
            background-color: aqua;
            transition: all 400ms;
            &:hover {
              background-color: blue;
              color: white;
            }
            &__p {
              text-align: center;
              align-self: center;
            }
            &__previous {
              cursor: not-allowed;
              display: flex;
              margin: auto;
              justify-content: center;
              width: 85%;
              height: 85%;
              border-radius: 5px;
              background-color: aqua;
              transition: all 400ms;
              &__p {
                text-align: center;
                align-self: center;
              }
            }
          }

          &__hour {
            text-align: center;
            border-top: 1px solid black;
            border-right: 1px solid black;
            width: 15%;
            padding: 3px 0px;
            background-color: #f0f0f0;
          }
          &__meeting {
            &__me {
              cursor: pointer;
              background-color: green;
              border-radius: 5px;
              color: white;
            }
            &__other {
              cursor: not-allowed;
              border-radius: 5px;
              &__div {
                height: 2px;
                background-color: #2b466033;
                border-radius: 1px;
                margin: 0 auto;
                width: 29px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .datePicker {
    margin-top: 50px;
  }
}
