.btn {
  font-size: 18px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  padding: 10px;
  margin-top: 30px;
  border: 2px solid aqua;
  color: black;
  border-radius: 10px;
  background-color: white;
  display: inline-block;
  transition: all 400ms;
  &:hover {
    color: white;
    background-color: aqua;
  }
}
